#displayBooks {
    display: flex;
    flex-wrap: wrap;
}

.displayBook {
    width: 250px;
    margin: 20px;
    border: solid;
    padding: 8px;
}

p {
    margin: 0;
    padding: 4px;
}
button {
    padding: 5px;
    margin: 5px;
}